@model IEnumerable<ImportExcel.Models.tblProject>
@{
    ViewBag.Title = "Project";
}

<div class="row" style="margin-top:80px">
    <span style="font-size:24px;font-weight:bold" class="col-sm-10">
        <span style="color: #004d99;font-weight:bold;">
            <span class="glyphicon glyphicon-user"></span> Projects
        </span>
    </span>
    <span class="col-sm-2" style="margin-bottom:5px">
        <button type="button" id="btnOpen" data-toggle="modal" data-target="#FormModel" style="float:right"
                class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> Add New
        </button>
    </span>
</div>
<hr />
<input type="hidden" id="hdnProjectId" name="hdnProjectId" value="0">
<table id="example" class="table table-bordered  dataTable no-footer dtr-inline"
       cellspacing="0" role="grid" style="width: 100%;background-color:#ebf3f9; margin-bottom:0px;">
    <thead>
        <tr>
            <th class="hidden">ID</th>
            <th width="80%">Project</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td class="hidden">@Html.DisplayFor(modelItem => item.ID)</td>
                    <td class="name">@Html.DisplayFor(modelItem => item.Project)</td>
                    <td>
                        <a class="btn btn-primary btn-sm" data-toggle="modal" data-target="#FormModel" onclick="EditRole(@item.ID)"><spam class="glyphicon glyphicon-edit"></spam></a>
                        <a href="@Url.Action("ShowGrid","Home", new { ProjectId = item.ID})" class="btn btn-primary btn-sm" ><spam class="glyphicon glyphicon-upload"></spam></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div id="divFormModel" class="row">
    <div class="modal fade" id="FormModel" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="padding-top:0px">
                    <div class="row">
                        <div class="col-md-8">
                            <h3>
                                <span style="color:#004d99">
                                    <span class="glyphicon glyphicon-user"></span> Role
                                </span>
                            </h3>
                        </div>
                    </div>
                    <hr />
                    <div style="margin-left:10px">
                        <div class="row">
                            <span class="CustomLabel">Name</span>
                            @Html.TextBox("Project", "", new { id = "txtProject", @class = "form-control require", @maxlength = "100" })
                        </div>
                    </div>
                    <br />
                    <hr />
                    <div class="row">
                        <center>
                            <button type="submit" id="btnSave" style="width:30%" class="btn btn-success ">
                                <span class="glyphicon glyphicon-floppy-disk"></span> SUBMIT
                            </button>
                            &nbsp;
                            <a class="btn btn-danger" data-dismiss="modal" onclick="CloseModel();" style="display:inline-block;width:30%;"><span class="glyphicon glyphicon-remove"></span>CLOSE</a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

        $(document).ready(function () {
            $('#example').DataTable();
        });

        CloseModel();


        //$("body").on("click", "[id*=example] .Edit", function () {
        //    var row = $(this).closest("tr");
        //    var psno = row.find(".psno");
        //    var role = row.find(".role1");
        //    $("#Psno").attr('disabled', true);
        //    $("#Psno").val(psno.html().trim())
        //    $("#Role").val(role.html().trim())
        //});

        $("#btnSave").click(function () {
            var project = $("#txtProject").val();

            if (project) {
                $.ajax({
                    url: '@Url.Action("AddProject", "Home")',
                    data: { ID: $("#hdnProjectId").val(), Project: project},
                    dataType: "json",
                    type: "POST",
                    success: function (data) {
                        if (data.Key) {
                            toastr.success(data.Value);
                            window.setTimeout('window.location.href = "@Url.Action("Index", "Home")"', 2000);
                        }
                        else {
                            toastr.warning(data.Value);
                        }
                    },
                    error: function (xhr) {
                    }
                });
            }
            else {
                toastr.warning('All feilds are mandatory');
            }
        });

    });

    function EditRole(ID) {
        CloseModel();
        $.ajax({
            url: '@Url.Action("GetProjectDetails", "Home")',
            dataType: "json",
            type: "POST",
            data: { ID: ID },
            success: function (result) {
                if (result.Key) {
                    $("#hdnProjectId").val(result.data.ID);
                    $("#txtProject").val(result.data.Project);
                }
                else {
                    CloseModel()
                }
            }
        });
    }

    function CloseModel() {
        $("#hdnProjectId").val("0");
        $("#txtProject").val("");
    }

</script>
